@font-face {
    font-family: porscha-font;
    src: url('../Bilder/911-porscha/911v2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: porscha-font_1;
    src: url('../Bilder/911-porscha/911v2b.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: porscha-font_2;
    src: url('../Bilder/911-porscha/911v2li.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        padding: 10px;
        z-index: 10;
    }

    .navbar ul.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .contact {
        margin: 10px;
        padding: 15px;
    }

    form h1 {
        font-size: 24px;
    }

    input[type="submit"] {
        font-size: 16px;
    }
}


@media (max-width: 768px) {
    .impressum_responsive {
        padding: 15px;
        box-shadow: none;
        border-radius: 0;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}
body{
    margin: 0px;
    background-color: #efefef;
    font-family: sans-serif;
}


h1{
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 200px;
}

.porsche_card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.products_ {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 200px;
}



.porsche_card img {
    width: 100%;
    border-radius: 15px;
}

.porsche_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: 40px ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    padding: 60px;
}

.price {
    font-size: 20px;
    color: #000000;
    margin: 10px 0;
    text-align: center;
}

.button_card {
    background-color: #403d39;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.button_card:hover {
    background-color: #eb5e28;
    transition: background-color 0.9s;
}
@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        padding: 10px;
        z-index: 10;
    }

    .navbar ul.active {
        display: flex;
    }

}
@media (max-width: 1300px) {
    .hamburger {
        display: flex;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .porsche_card {
        margin: 10px 0;
    }
}

@media (max-width: 840px) {
    .products {
        grid-template-columns: 1fr;
    }

    .navbar a {
        font-size: 16px;
    }

    .price {
        font-size: 18px;
    }
}

p{
    font-size: 20px;
}

@media (max-width: 582px) {
    .name1{
        font-size: 12px;
    }
    .contact {
        padding: 6px;
    }

    .contact form textarea,
    .contact form select,
    .contact form input[type="submit"] {
        padding: 4px;
    }

}

@media (max-width: 480px) {
    form h1 {
        font-size: 22px;
    }

    input[type="submit"] {
        font-size: 14px;
    }

    .navbar a {
        font-size: 16px;
    }
    .contact {
        padding: 10px;
    }

    .contact form textarea,
    .contact form select,
    .contact form input[type="submit"] {
        padding: 8px;
    }
}


.videoPorsche video{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    z-index: 0;
}

.contact {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form h1 {
    text-align: center;
    font-family: porscha-font_1;
    font-size: 30px;
}

label {
    margin: 10px 0 5px;
    font-size: 15px;
}

select {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
    resize: none;
}
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    resize: none;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #eb5e28;
    transition: background-color 0.9s;
}

.navbar {
    background-color: rgb(37, 36, 34);
    #display: flex;
    #justify-content: space-between;
    #align-items: center;
    padding: 10px 20px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.9s;
}

.navbar a:hover {
    background-color: rgb(235, 94, 40);
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: aliceblue;
    margin: 3px 0;
}



.contact {
    border-radius: 100px;
    padding: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
.name{
    padding: 15px;
}
#name1{
    text-align: center;
}

.Datenschutz {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Datenschutz h1, .Datenschutz h2, .Datenschutz h3 {
    color: #333;
}

.Datenschutz p {
    color: #666;
}

.Rückgaberecht{
    padding: 10px;
}

main{
    padding: 20px;
}

.impressum_responsive {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.footter_all{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
}
.footter_impresum{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.35);
        position: absolute;
        top: 47px;
        right: 0;
        width: 100%;
    }

    .navbar ul.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .navbar li {
        text-align: center;
        margin: 10px 0;
    }

}